
.heading {
    padding: .5rem 2rem;
    font-size:x-large;
    font-weight: 500;
    text-align: start;
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.publishBtn {
    cursor: pointer;
    padding: 1rem 1rem;
    border-radius: 1.3rem;
    font-size: medium;
    font-weight: 500;
    border: 1px solid lightgrey;
    background-color: red;
    color: white;
}
.publishBtn:hover {
    border-color: white;
}

.pinFormContainer {
    display: flex;
    flex-direction: row;
    padding:3rem 6rem ;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.imgUpload {
    position: relative;
    background-color: whitesmoke;
    border: 2px dotted grey;
    border-radius: 3rem;
    width: 25rem;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.imgUpload input {
    width: 70%;
    padding: 1rem 1rem;
    border-radius: 2rem;
    position: relative;
    background-color: lightgrey;
}

.imgUpload .enterIcon {
    color: lightgrey;
    border-radius: 10rem;
}
.imgUpload .enterIcon:hover {
    color: grey;
    border: 1px solid black;
}

.imgUpload .invalidImg {
    position: absolute;
    bottom: 9rem;
    left: 7.5rem;
    padding: 1rem;
    border-radius: 3rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}

.showImage {
    position: relative;
}
.showImage img {
    max-width: 25rem;
    max-height: 30rem;
    border-radius: 1rem;
}

.showImage .editIcon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: rgba(211, 211, 211, 0.6);
    padding: .3rem;
    border-radius: 10rem;
    cursor: pointer;
    border: 1px solid black;
}

.showImage .editIcon:hover {
    background-color: lightgrey;
}

.formContainer {
    width: 40rem;
}

.pinForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .2rem;
    padding-left: 1rem;
}

.pinLabel {
    font-size: smaller;
    color: rgb(48, 47, 47);
}


.pinInput {
    padding: .8rem;
    border: 2px solid rgb(157, 154, 154);
    border-radius: .5rem;
    width: 100%;
    margin-bottom: 2rem;
    font-size: medium;
}

.boardInput {
    padding: .8rem;
    border: 2px solid rgb(157, 154, 154);
    border-radius: .5rem;
    width: 100%;
    margin-bottom: 1rem;
    font-size: medium;
    background-color: white;
    color: grey;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.boardInput img {
    width: 23px;
    height: 23px;
    border-radius: .2rem;
}

.boardInput .downArrow {
    position: absolute;
    top: .8rem;
    right: 1rem;
}

.boardInput .optionsBox {
    position: absolute;
    top:0;
    left: 0;
    transform: translateX(-105%) translateY(-50%);
}

.moreOptions h4{
    display: flex;
    gap: .5rem;
}

.moreOptions p {
    padding: .5rem 4rem;
    font-size: small;
}

.taggedTopic {
    width: 100%;
    position: relative;
}

.showTaggedTopics {
    display: flex;
    flex-wrap: wrap;
    grid-area: 2rem;
}

.showTaggedTopics .topic {
    padding: 1rem;
    color: whitesmoke;
    border-radius: 2rem;
    font-size: large;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: .5rem;
}

.topic .closeIcon {
    border-radius: 10rem;
    cursor: pointer;
}

.topic .closeIcon:hover {
    background-color: lightgrey;
    color: black;
}